@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
/*---------------------------------------------------------
-------------------Bottom Navifation Bar ------------------
---------------------------------------------------------*/
:root{
    --menu-bg: #fff;
    --navbar-color: rgba(0,0,0,0.8);
    --navbar-bg: #ddd;
    --service-header-border: #000;
    --slider-content-shadow: rgba(255,255,255,0.5);
}
#menu-area,
.navbar-default{
    background: var(--menu-bg) !important;
    margin-bottom: 0px;
}
.icon-bar{
    border: 1px solid black;
}
.navbar-default{
    border-bottom: 2px solid #2bc;
}
.navbar-brand{
    font-size: 26px !important;
    padding-bottom: 10px;
    line-height: 26px !important;
}
#top-menu li a{
    display: block;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    padding: 7px 15px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 16px;
    margin-top: 10px !important;
    margin-bottom: 05px !important;
    transition: 0.5s;
}
#top-menu li a:hover,
#top-menu li .active{
    background: var(--navbar-bg);
    color: var(--navbar-color) !important;
    transform: scale(1.05);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}


.navbar-header 
.navbar-toggle .icon-bar {
    background-color: #ddd;
}


.nav.navbar-nav > li:hover > ul.sub-menu{
    display: block;
    -webkit-animation: fadeInUp 400ms;
    -moz-animation: fadeInUp 400ms;
    -ms-animation: fadeInUp 400ms;
    -o-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}

li.dropdown{
    padding: 0px !important;
}

ul.sub-menu {
    position: absolute;
    top: 35px;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
    background: rgba(255,255,255,0.8);
    z-index: 900;
    transition: all 0.5s ease-in-out;
}

.dropdown ul.sub-menu li .active{
    color: #FDB45E;
    padding-left: 0;
}
ul.sub-menu li a{
    display: block;
    font-size: 16px !important;
    padding-left: 10px;
    border-top: 1px solid rgba(0, 0, 0,1);
    border-bottom: 1px solid rgba(0,0,255,1);
    transition: all .5s ease;
}
ul.sub-menu li a:hover{
    text-decoration: none;
}
.navbar-nav li ul.sub-menu li{
    display: block;
    transition: all 0.5s ease;
}
.navbar-nav li ul.sub-menu li a{
    color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover{
    color: #FDB45E;
}
.fa-angle-down{
    padding-left: 5px; 
}

/*-------------------------------------------------
---------------- Swiper slider --------------------
-------------------------------------------------*/
.swiper-container {
    width: 100%;
    height: 450px;

}
.swiper-slide {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide > a{
    display: block;
    height: 450px;
}
.swiper-slide{
    color: #fff;
}
.slider-text{
    width: 100%;
    color: red;
    font-size: 25px;
}
.swiper-slide:nth-child(1){
    background: url(../images/slider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide:nth-child(2){
    background: url(../images/slider2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide:nth-child(3){
    background: url(../images/slider3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide:nth-child(4){
    background: url(../images/slider4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*End of slider*/

/*---------------------------------------------------
------------------- Slick slider --------------------
---------------------------------------------------*/
.slick-section{
    margin-top: 10px;
    height: 100%;
    width: 100%;
}
.slicker{
    height: 450px;
    border: 2px solid blue;
}
.slicker > .slick-header{
    height: 40px;
    display: grid;
    grid-template-columns: 70% 30%;
}
.slick-header > h3{
    margin-top: 0 !important;
    padding: 0 !important;
    font-size: 28px;
    padding-left: 20px !important;
}
.slick-header > a{
    display: block;
    padding: 2px;
    border: 1px solid red;
    font-size: 24px;
    background-color: #ddd;
    text-align: center;
    margin-left: 40%;
}
.slick-slider{
    height: 400px;
    border: 2px solid red;
}
.slick-slide{
    padding: 10px;
    height: 400px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    transition: all ease-in-out 0.5s;
}
.slick-slide:hover{
    transform: scale(1.02);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}
.slick-slider > .product-detail{
    
    margin-left: 5px !important;
    padding: 10px;
}
.slick-slider > .product-detail,
.slick-slider > .product-detail > a{
    height: 100%;
    margin-left: 5px;
    width: 100%;
}
.product-detail > a > img{
    height: 280px;
    width: 100%;
}
.product-detail > a > h4{
    text-align: center;
    font-size: 18px;
    color: #444;
    padding: 0px !important;
    margin: 0px !important;
}
.product-detail > a:hover{
    text-decoration: none;
}
.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-next:hover{
    width: 40px;
    background-color: rgba(87,89,45, 0.6);
    height: 120px;
    font-size: 0px;
    line-height: 70px;
    border-radius: 5px;;
}
.slick-prev::before,
.slick-next::before{
    color: #fff !important;
    font-size: 28px;
    line-height: 120px;
}
/*End of components*/

/*----------------------------------------------------------
----------------------- Under Rupee ------------------------
----------------------------------------------------------*/
.small-tab{
    margin-top: 15px;
    width: 100%;
}
.rupee-tab{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    height: 100px;
    grid-gap: 10px;
}
.rupee-tab li{
    list-style: none;
    border: 1px solid red;
    text-align: center;
    font-size: 24px;
    line-height: 100px;
}
.rupee-tab li a{
    font-weight: bold;
    display: block;
    color: #fff;
    background-color: rgba(180,0,0,1);
}
.rupee-tab li a:hover{
    text-decoration: none;
    background-color: rgba(180,0,0,0.8);
}
/*End of Under rupee*/

/*---------------------------------------------------------
----------------------- Poster ----------------------------
---------------------------------------------------------*/
.poster{
    margin-top: 15px;
    width: 100%;
    height: 200px;
}
.poster-inner{
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    list-style: none;
    background-color: rgba(255,0,0,1);
}
.poster-inner > li{
    width: 100%;
    height: 200px;
}
.poster-inner li > h4{
    width: 50%;
    margin-left: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 25px;
    font-size: 28px;
    color: yellow;
    padding-top: 50px;
}
.poster-inner li > button{
    margin-left: 50%;
    width: 100px;
    margin-top: 15px;
    background-color: rgba(99, 16, 16, 0.5);
    height: 40px;
    font-size: 16px;
    color: #fff;
}
.poster-inner li > button:hover{
    background-color: rgba(99, 16, 16, 0.8);
}
.poster-inner li > img{
    width: 50% !important;
    height: 100% !important;
    border: 2px solid red;
}
/*End of poster*/

/*---------------------------------------------------------
-------------------------- Footer -------------------------
---------------------------------------------------------*/
.footer{
    width: 100%;
    height: 100%;
    background-color: #444;
}
.footer-inner{
    padding: 15px 0px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.footer-inner > .footer-nav{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: #fff;
    font-size: 16px;
    list-style: none;
}
.footer-nav ul{
    list-style: none;
}
.footer-inner > .footer-nav > ul > li{
    padding-left: 10px;
    color: #fff;
}
.footer-nav > ul > li > a{
    color: #fff;
}
.subscribe h4{
    margin-top: 12%;
    font-size: 18px;
    color: #fff;
    padding-left: 10px;
}
.subscribe input{
    width: 80%;
    height: 30%;
    margin: auto;
    margin-top: 1%;
    padding-left: 10px;
    border: none;
    border-radius: 20px;
}
@media(max-width: 780px){
    ul{
        width: 90%;
        margin: auto !important;
    }
    ul.sub-menu{
        width: 100%;
        top: 0px;
        position: relative;
    }
}